<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "FrontpageUrl" value = "https://www.arla.dk/opskrifter/leksikon/" />
    <add key ="ApiUrl" value = "https://edb.arla.com/api/da/" />
    <add key ="Ingredients" value = "ingredients/" />
    <add key ="Guides" value = "guides/" />
    <add key ="Instructions" value = "instructions/" />
    <add key ="Techniques" value = "techniques/" />
  </appSettings>
</configuration>